h2 {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  font-family: "Poppins";
  padding: 2vw;
  font-size: 1rem;
  border-radius: 0.15rem;
}

.low {
  border: 1px solid black;
  font-weight: 100;
}

.mid {
  border: 0.2rem solid black;
  font-weight: 400;
}

.high {
  border: 0.35rem solid black;
  font-weight: 600;
  font-size: 1.25rem;
}

.urgent {
  border: 0.45rem solid black;
  font-weight: 900;
  font-size: 1.5rem;
  font-style: italic;
}

.complete {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 1s ease infinite, expandOut 1s ease infinite;
}

@keyframes expandOut {
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
